@import url("https://fonts.googleapis.com/css?family=Cousine:700|Cousine:400");

$text: #d4effc;
$background: #03090c;
$primary: #0a74a9;
$secondary: #032435;
$accent: #a64556;
$breakpoints: (
  tablet: 768px,
  phone: 471px,
);

@mixin breakpoint($breakpoint, $direction) {
  $breakpoint-value: map-get($breakpoints, $breakpoint);

  @if $direction == max {
    @media (max-width: ($breakpoint-value - 1)) {
      @content;
    }
  }
}

body {
  font-family: "Cousine";
  font-weight: 400;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-image: url("./img/background.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  @include breakpoint(tablet, max) {
    background-size: cover;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Cousine";
  font-weight: 700;
}

html {
  font-size: 1.4vh;
} /* 16px */

h2 {
  font-size: 3.997rem; /* 64px */
}

nav {
  display: flex;
  height: 10%;
  width: 100%;
  align-items: center;
  background: rgba($background, 0.75);
  backdrop-filter: blur(16px);

  .search-box,
  .temp-toggle-container {
    padding: 20px;
  }

  .search-box {
    height: 20%;
    width: 40%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;

    input {
      height: fit-content;
      width: 90%;
      font-size: 2rem;
      color: $text;
      padding: 5px;
      background-color: transparent;
      border: solid 2px $primary;
      border-radius: 18px;

      &:focus {
        outline: none;
        background-color: rgba($background, 0.6);
      }
    }
  }

  .temp-toggle-container {
    margin-left: auto;
    height: auto;
    width: fit-content;
    display: flex;
    align-items: center;

    .toggle-temp {
      height: 1em;
      width: 1em;
      padding: 5px;
      color: $accent;
      font-size: 4rem;
      font-weight: bold;
      text-align: center;
      background-color: transparent;
      border: solid 3px $primary;
      border-radius: 9999px;
      cursor: pointer;
    }
  }
}

main {
  display: flex;
  height: 90%;
  width: 100%;
  gap: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .weather-data {
    display: flex;
    height: 80%;
    flex-direction: column;
    flex: 1;
    margin: 2em;
    padding: 1.2em;
    color: $text;
    background-color: rgba($background, 0.75);
    border-radius: 1em;
    backdrop-filter: blur(16px);
    @include breakpoint(tablet, max) {
      align-items: center;
    }
  }
  .current {
    width: 80%;
    flex: 2;

    .current-data-container {
      display: flex;

      .current-temp {
        display: flex;
        flex-direction: column;
        width: fit-content;

        p {
          font-size: 4rem;
          margin-bottom: 0px;
          margin-top: 0;
          font-weight: 800;
          color: $text;
          text-shadow: 3px 3px $accent;

          &:nth-child(2) {
            text-shadow: none;
            color: rgba($accent, 0.9);
            align-self: flex-end;
            font-size: 2.4rem;
            font-style: italic;
            font-weight: 300;
          }
        }
      }
    }

    .location-container {
      display: flex;
      border-bottom: solid 4px $primary;
      margin-bottom: 2em;
      justify-content: center;

      h2 {
        color: $text;
        margin: 0;
        margin-bottom: 20px;
        font-size: 4rem;
      }
    }

    .current-condition {
      justify-self: center;
      height: 180px;
      width: 180px;
      @include breakpoint(tablet, max) {
        height: 96px;
        width: 96px;
      }
    }
  }

  .forecast {
    width: 80%;
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
    @include breakpoint(tablet, max) {
      flex-direction: column;
      overflow-y: scroll;
    }

    .forecast-day {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      height: 90%;
      flex: 1;
      font-size: 2rem;
      border: solid 3px $primary;
      border-radius: 18px;
      padding: 8px;
      @include breakpoint(tablet, max) {
        width: 80%;
        height: fit-content;
      }

      .temp-container {
        display: flex;
        flex-direction: column;
        width: fit-content;

        p {
          font-size: 2rem;
          margin-bottom: 0px;
          margin-top: 0;
          font-weight: 800;
          color: $text;
          text-shadow: 3px 3px $accent;

          &:nth-child(2) {
            text-shadow: none;
            color: rgba($accent, 0.9);
            align-self: flex-end;
            font-size: 1.2rem;
            font-style: italic;
            font-weight: 300;
          }
        }
      }

      p {
        margin-bottom: 0;
        margin-top: 10px;
      }
    }
  }
}
