@use "./globals" as *;

.forecast-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  gap: 10px;

  .expand-forecast {
    @include breakpoint(tablet, max) {
      align-self: flex-start;
      margin-top: auto;
      padding: 8px;
      color: $text;
      display: flex;
      gap: 5px;
      font-size: 2rem;
      height: fit-content;
      align-items: center;
      background: rgba($background, 0.75);
      backdrop-filter: blur(16px);
      border-radius: 16px;
      border: none;

      img {
        filter: invert(32%) sepia(8%) saturate(3697%) hue-rotate(300deg)
          brightness(106%) contrast(92%);
      }
    }
  }

  .weather-data.forecast {
    display: flex;
    gap: 20px;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    width: 100%;
    margin: 0;
    @include breakpoint(tablet, max) {
      flex-direction: column;
      flex: 2;
      height: auto;
    }

    &.hidden {
      display: none;
    }

    .forecast-day {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      height: 90%;
      width: 100%;
      flex: 1;
      font-size: 2rem;
      font-weight: bold;
      border: solid 4px $primary;
      border-radius: 18px;
      padding: 8px;
      @include breakpoint(tablet, max) {
        width: 80%;
        height: fit-content;
        display: flex;
        flex-direction: row;

        img {
          height: 48px;
          width: 48px;
        }
      }

      .temp-container {
        display: flex;
        flex-direction: column;
        width: fit-content;
        align-items: center;
        gap: 8px;

        p {
          font-size: 2rem;
          margin-bottom: 0px;
          margin-top: 0;
          font-weight: 800;
          color: $text;
          text-shadow: 3px 3px $accent;

          &:last-child {
            text-shadow: none;
            color: rgba($accent, 0.9);
            align-self: flex-end;
            font-size: 1.2rem;
            font-style: italic;
            font-weight: 300;
          }
        }
      }

      p {
        margin-bottom: 0;
        margin-top: 10px;
      }
    }
  }
}
