@import url("https://fonts.googleapis.com/css?family=Cousine:700|Cousine:400");

$text: #d4effc;
$background: #03090c;
$primary: #0a74a9;
$accent: #a64556;
$breakpoints: (
  tablet: 768px,
  phone: 473px,
);

@mixin breakpoint($breakpoint, $direction) {
  $breakpoint-value: map-get($breakpoints, $breakpoint);

  @if $direction == max {
    @media (max-width: ($breakpoint-value - 1)) {
      @content;
    }
  }
}
