@use "./globals" as *;

* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Cousine";
  font-weight: 700;
}

h2 {
  font-size: 3.997rem; /* 64px */
}

html,
body {
  overflow: auto;
}

html {
  font-size: 1.4vh;
} /* 16px */

body {
  font-family: "Cousine";
  font-weight: 400;
  height: 100vh;
  width: 100vw;
  background-image: url("./img/background.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  @include breakpoint(tablet, max) {
    background-image: url("./img/phone-background.jpg");
    background-size: cover;
  }
}

main {
  display: flex;
  height: 90%;
  width: 100%;
  gap: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @include breakpoint(tablet, max) {
    overflow-y: scroll;
    height: fit-content;
  }

  .weather-data {
    display: flex;
    flex-direction: column;
    height: 80%;
    flex: 1;
    margin: 2em;
    padding: 20px;
    color: $text;
    background-color: rgba($background, 0.75);
    border-radius: 1em;
    backdrop-filter: blur(16px);

    &.current {
      width: 80%;
      flex: 2;
      display: grid;
      grid-template-areas:
        "name name"
        "temp other";

      grid-template-rows: 0.2fr 1fr;

      .current-data-container {
        display: flex;

        &.temp {
          flex-direction: column;
          grid-area: temp;

          .current-temp {
            display: flex;
            flex-direction: column;
            width: fit-content;
          }
        }

        &.other {
          display: flex;
          grid-area: other;
        }

        p {
          font-size: 3.4rem;
          margin-bottom: 0px;
          margin-top: 0;
          font-weight: 800;
          color: $text;
          text-shadow: 3px 3px $accent;
          @include breakpoint(tablet, max) {
            font-size: 2.4rem;
            text-shadow: 2px 2px $accent;
          }
        }
      }

      .location-container {
        display: flex;
        border-bottom: solid 4px $primary;
        margin-bottom: 2em;
        justify-content: center;
        grid-area: name;

        h2 {
          color: $text;
          margin: 0;
          margin-bottom: 20px;
          font-size: 4rem;
        }
      }

      .condition-img {
        justify-self: center;
        height: 96px;
        width: 96px;
        @include breakpoint(tablet, max) {
          height: 64px;
          width: 64px;
        }
      }
    }

    &.forecast {
      width: 80%;
      flex: 1;
      display: flex;
      align-items: center;
      flex-direction: row;
      gap: 20px;
      padding: 20px;
      @include breakpoint(tablet, max) {
        flex-direction: column;
        flex: 2;
      }

      .forecast-day {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 90%;
        flex: 1;
        font-size: 2rem;
        font-weight: bold;
        border: solid 4px $primary;
        border-radius: 18px;
        padding: 8px;
        @include breakpoint(tablet, max) {
          width: 80%;
          height: fit-content;
          display: flex;
          flex-direction: row;

          img {
            height: 48px;
            width: 48px;
          }
        }

        .temp-container {
          display: flex;
          flex-direction: column;
          width: fit-content;
          align-items: center;
          gap: 8px;

          p {
            font-size: 2rem;
            margin-bottom: 0px;
            margin-top: 0;
            font-weight: 800;
            color: $text;
            text-shadow: 3px 3px $accent;

            &:last-child {
              text-shadow: none;
              color: rgba($accent, 0.9);
              align-self: flex-end;
              font-size: 1.2rem;
              font-style: italic;
              font-weight: 300;
            }
          }
        }

        p {
          margin-bottom: 0;
          margin-top: 10px;
        }
      }
    }
  }
}
